@{
    ViewData["Title"] = "homework1";
}

<h1>homework1</h1>
<div id="cardgroup" class="row row-cols-1 row-cols-md-3 g-4"></div>

@section Scripts {
    <script src="~/js/travel.js"></script>
    <script>
        const cardgroup = document.getElementById('cardgroup');
        const sections = spots.CommonFormat.Section;
        const travelhtml = sections.map(section => {
            // 檢查 section.file 和 section.file.img 是否存在
            if (section.file && section.file.img && section.file.img[0]) {
                // 使用 optional chaining (?.) 來避免未定義的錯誤
                const imgUrl = section.file.img[0]?.text || '';
                return `<div class="col">
                            <div class="card h-100">
                                <img class="card-img-top " src="${imgUrl}">
                                <div class="card-body">
                                    <h5 class="card-title">${section.stitle}</h5>
                                    <p class="card-text">${section.xbody.substring(0, 100)}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">${section.address}</small>
                                </div>
                            </div>
                        </div>`;
            } 
        });

        cardgroup.innerHTML = travelhtml.join("");

    </script>
}